body{
	background: darkgray;
	margin: 0px;
	padding: 0px;
}
/* Home css (index) */
.wrapper{	
	background-color: lightgray;	
	width: 1100px;		
	margin: 0px auto;
	padding: 0px 0px 50px 0px;
	
}
.nav{
	padding: 0px auto;
	margin: 0px;
}
.nav img {
	margin: 0px;
	padding: 0px;
}
#header{
	position: relative;
}
#logo{
	position: absolute;
	margin: 0px;
	padding: 0px;
	right: 150px;
	top: 10px;
}
.nav ul{
	border-collapse: collapse;	
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	Top: 170px;
	left: 350px;

}
.nav ul li{	
	margin: 0px;
	padding: 0px;	
	display: inline-block;
}
.nav ul li a{
	margin: 0px;	
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 30px;
	background-color: white;
	font-weight: bold;
}
.nav ul li a:hover{
	background-color: orange;
	color: white;

}
.icons{
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 80px;
	top: 160px;
	display: inline-block;
}
.icons tr th{
	padding: 0px 13px 0px 5px;

}
.icons tr th button{
	position: absolute;
	right: -7px;
	top: 0px;
	padding: 5px;
	margin: 0px;
	background-color: yellow;
	border-radius: 5px;
}
.icons tr th button:hover{	
	background-color: orange;
}


.nav input{
	position: absolute;
	border-radius: 20px;
	right: 200px;
	top: 170px;
}
.nav button{
	position: absolute;
	right: 100px;
	top: 20px;
	background-color: gray;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
	border: none;
	border-radius: 20px;
}
.nav button:hover{
	background-color: lightgray;
	color: black;
}


.today_pick{
	margin: 0px;
	padding: 0px;

}
.today_pick h2{
	margin: 0px;
	padding: 20px 0px 0px 50px;
	font-size: 30px;
}
.today_pick img{
	margin: 0px;
	padding: 50px 0px 0px 80px;
}
.today_pick ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.today_pick ul li{
	display: inline-block;
	margin: 0px;
	padding: 20px 0px 0px 80px;
}
.latest_update{
	margin: 0px;
	padding: 0px;
}
.latest_update h2{
	margin: 0px;
	padding: 100px 0px 0px 50px;
	font-size: 30px;

}

}
.latest_update table {
	border: 1px solid black;
	
}
.latest_update table tr td{
	width: 500px;



}
.latest_update table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
.latest_update table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 0px 0px 20px;
}
.latest_update button{
	border: none;
	background-color: darkgray;
	color: gray;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 15px;
	margin-top: 50px;
	margin-left: 500px;
	text-align: center;
	border-radius: 20px;
}
.latest_update button:hover{
	background-color: orange;
	color: white;
}

.form-popup{
	margin: 200px 0px 0px 370px;
	padding: 0px;	
	display: none;
	background-color: whitesmoke;
	min-height: 350px;
	width: 350px;
	position: absolute;
	border-radius: 20px;
}

.close{
	padding: 0px;
	margin: 0px;
	float: right;
}
#greeting{
	margin: 0px;
	padding: 50px 0px 20px 0px;
	text-align: center;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
  	min-width: 160px;
  	border-radius: 20px;
  	top: 200px;
  	left: 1000px;  	
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .dropdown-content a:hover{
  	background-color: orange;

  }

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: orange;
}

.show {display: block;}

/*discover css */

.genre{
	margin: 0px;
	padding: 0px;
	
}
.genre h2{
	margin: 0px;
	padding: 30px 0px 0px 50px;
	font-size: 40px;
}

.genre h3{
	margin: 0px;
	padding: 20px 0px 0px 60px;
	font-size: 25px;
}
.genre form{
	padding: 0px;
	margin: 0px;
	
}

.genre form table{
	margin: 0px;
	padding: 20px 50px 30px 100px;
	
}


.genre form table tr td{
	padding: 10px 100px 0px 20px;
	margin: 0px;
	
}
#search{
	margin: 0px 0px 0px 480px;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	background-color: gray;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

#search:hover{
	background-color: orangered;
}
.succession{
	padding: 20px;
}


.succession select{
	float: right;	
	padding-top: 20px;
	margin-right: 100px;
	margin-bottom: 30px;	
	padding: 10px;

}
#comics table {
	
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	
}
#comics table tr td{
	width: 500px;
	border: 2px dashed orange;
	padding-bottom: 50px;
	
}
#comics table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
#comics table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 40px 0px 20px;
}
.load_more{
	padding: 10px 15px;
	margin-left: 490px;
	background-color: orangered;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 20px;
}
.load_more:hover{
	background-color: gray;
}

#footer{
	
	clear: both;
	padding: 10px;
	text-align: center;
}

/* directory css */

.letters h1{
	margin: 0px;
	padding: 30px 0px 0px 70px;
}
.first_row{
	margin: 0px;
	padding: 50px 0px 0px 50px;
}

.first_row tr td{
	margin: 50px;
	padding: 10px 20px;
	border-right: 5px solid orange;
}

.first_row tr td a{
	text-decoration: none;
	color: black;
	background-color: lightgray;
	font-weight: bold;
	font-size: 20px;
}

.first_row tr td a:hover{	
	color: orange;
	padding: 0px;
	margin: 0px;
}

.second_row{
	margin: 0px;
	padding: 10px 0px 10px 150px;
}

.second_row tr td{
	margin: 50px;
	padding: 10px 20px;
	border-right: 5px solid orange;
}

.second_row tr td a{
	text-decoration: none;
	color: black;
	background-color: lightgray;
	font-weight: bold;
	font-size: 20px;
}

.second_row tr td a:hover{	
	color: orange;
	padding: 0px;
	margin: 0px;
}

.comics_1 table {
	
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	
}
.comics_1 table tr td{
	width: 500px;
	border: 2px dashed orange;
	padding-bottom: 50px;
	
}
.comics_1 table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
.comics_1 table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 40px 0px 20px;
}
.load_more_1{
	padding: 10px 15px;
	margin-left: 490px;
	background-color: orangered;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 20px;
}
.load_more_1:hover{
	background-color: gray;
}