body{
	background: darkgray;
	margin: 0px;
	padding: 0px;
}
/* Home css (index) */
.wrapper{	
	background-color: lightgray;	
	width: 1100px;		
	margin: 0px auto;
	padding: 0px 0px 50px 0px;
	
}
.nav{
	padding: 0px auto;
	margin: 0px;
}
.nav img {
	margin: 0px;
	padding: 0px;
}
#header{
	position: relative;
}
#logo{
	position: absolute;
	margin: 0px;
	padding: 0px;
	right: 150px;
	top: 10px;
}
.nav ul{
	border-collapse: collapse;	
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	Top: 170px;
	left: 350px;

}
.nav ul li{	
	margin: 0px;
	padding: 0px;	
	display: inline-block;
}
.nav ul li a{
	margin: 0px;	
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 30px;
	background-color: white;
	font-weight: bold;
}
.nav ul li a:hover{
	background-color: orange;
	color: white;

}
.icons{
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 80px;
	top: 160px;
	display: inline-block;
}
.icons tr th{
	padding: 0px 13px 0px 5px;

}
.icons tr th button{
	position: absolute;
	right: -7px;
	top: 0px;
	padding: 5px;
	margin: 0px;
	background-color: yellow;
	border-radius: 5px;
}
.icons tr th button:hover{	
	background-color: orange;
}


.nav input{
	position: absolute;
	border-radius: 20px;
	right: 200px;
	top: 170px;
}
.nav button{
	position: absolute;
	right: 100px;
	top: 20px;
	background-color: gray;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
	border: none;
	border-radius: 20px;
}
.nav button:hover{
	background-color: lightgray;
	color: black;
}


.today_pick{
	margin: 0px;
	padding: 0px;

}
.today_pick h2{
	margin: 0px;
	padding: 20px 0px 0px 50px;
	font-size: 30px;
}
.today_pick img{
	margin: 0px;
	padding: 50px 0px 0px 80px;
}
.today_pick ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.today_pick ul li{
	display: inline-block;
	margin: 0px;
	padding: 20px 0px 0px 80px;
}
.latest_update{
	margin: 0px;
	padding: 0px;
}
.latest_update h2{
	margin: 0px;
	padding: 100px 0px 0px 50px;
	font-size: 30px;

}

}
.latest_update table {
	border: 1px solid black;
	
}
.latest_update table tr td{
	width: 500px;



}
.latest_update table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
.latest_update table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 0px 0px 20px;
}
.latest_update button{
	border: none;
	background-color: darkgray;
	color: gray;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 15px;
	margin-top: 50px;
	margin-left: 500px;
	text-align: center;
	border-radius: 20px;
}
.latest_update button:hover{
	background-color: orange;
	color: white;
}

.form-popup{
	margin: 200px 0px 0px 370px;
	padding: 0px;	
	display: none;
	background-color: whitesmoke;
	min-height: 350px;
	width: 350px;
	position: absolute;
	border-radius: 20px;
}

.close{
	padding: 0px;
	margin: 0px;
	float: right;
}
#greeting{
	margin: 0px;
	padding: 50px 0px 20px 0px;
	text-align: center;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
  	min-width: 160px;
  	border-radius: 20px;
  	top: 200px;
  	left: 1000px;  	
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

 .dropdown-content a:hover{
  	background-color: orange;


  }

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: orange;
}

.show {display: block;}

/*discover css */

.genre{
	margin: 0px;
	padding: 0px;
	
}
.genre h2{
	margin: 0px;
	padding: 30px 0px 0px 50px;
	font-size: 40px;
}

.genre h3{
	margin: 0px;
	padding: 20px 0px 0px 60px;
	font-size: 25px;
}
.genre form{
	padding: 0px;
	margin: 0px;
	
}

.genre form table{
	margin: 0px;
	padding: 20px 50px 30px 100px;
	
}


.genre form table tr td{
	padding: 10px 100px 0px 20px;
	margin: 0px;
	
}
#search{
	margin: 0px 0px 0px 480px;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	background-color: gray;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

#search:hover{
	background-color: orangered;
}
.succession{
	padding: 20px;
}


.succession select{
	float: right;	
	padding-top: 20px;
	margin-right: 100px;
	margin-bottom: 30px;	
	padding: 10px;

}
#comics table {
	
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	
}
#comics table tr td{
	width: 500px;
	border: 2px dashed orange;
	padding-bottom: 50px;
	
}
#comics table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
#comics table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 40px 0px 20px;
}
.load_more{
	padding: 10px 15px;
	margin-left: 490px;
	background-color: orangered;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 20px;
}
.load_more:hover{
	background-color: gray;
}

#footer{
	
	clear: both;
	padding: 10px;
	text-align: center;
}

/* directory css */

.letters h1{
	margin: 0px;
	padding: 30px 0px 0px 70px;
}
.first_row{
	margin: 0px;
	padding: 50px 0px 0px 50px;
}

.first_row tr td{
	margin: 50px;
	padding: 10px 20px;
	border-right: 5px solid orange;
}

.first_row tr td a{
	text-decoration: none;
	color: black;
	background-color: lightgray;
	font-weight: bold;
	font-size: 20px;
}

.first_row tr td a:hover{	
	color: orange;
	padding: 0px;
	margin: 0px;
}

.second_row{
	margin: 0px;
	padding: 10px 0px 10px 150px;
}

.second_row tr td{
	margin: 50px;
	padding: 10px 20px;
	border-right: 5px solid orange;
}

.second_row tr td a{
	text-decoration: none;
	color: black;
	background-color: lightgray;
	font-weight: bold;
	font-size: 20px;
}

.second_row tr td a:hover{	
	color: orange;
	padding: 0px;
	margin: 0px;
}

.comics_1 table {
	
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	
}
.comics_1 table tr td{
	width: 500px;
	border: 2px dashed orange;
	padding-bottom: 50px;
	
}
.comics_1 table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
.comics_1 table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 40px 0px 20px;
}
.load_more_1{
	padding: 10px 15px;
	margin-left: 490px;
	background-color: orangered;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 20px;
}
.load_more_1:hover{
	background-color: gray;
}

/* events css */
.events h1{
	padding: 20px 100px;
}

.events table {
	
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	
}
.events table tr td{
	width: 500px;
	border: 2px dashed orange;
	padding-bottom: 50px;
	
}
.events table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
.events table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 40px 0px 20px;
}
.events table tr td button{
	margin: 0px 100px 0px 0px;
	padding: 10px 20px;
	background-color: gray;
	color: white;
	border: none;
	border-radius: 20px;
	float: right;
}

.events table tr td button:hover{
	background-color: orange;
	}

	/* webtoon css */

.comic{
	margin: 0px;
	padding: 0px;	
	height: 1500px;	
}

#lookism_bg{
	position: relative;
	margin: 0px;
	padding: 0px;
}
#facebook1{
	position: absolute;
	margin: 0px;
	right: 200px;
	top: 425px;
}
#twitter1{
	position: absolute;
	margin: 0px;
	right: 250px;
	top: 425px;
}
.comic h5{
	position: absolute;
	color: whitesmoke;
	top: 375px;
	left: 550px;
	font-size: 16px;
	font-family: Century Gothic;
	letter-spacing: 3px;
	background-color: orange;
	padding: 5px;
	
}
.comic h2{
	position: absolute;
	color: orange;
	top: 325px;
	left: 538px;
	font-size: 30px;
	font-family: Century Gothic;
	letter-spacing: 3px;
	background-color: gray;	
	padding: 5px;
	
}
.chapters_container{
	top: 475px;
	position: absolute;
	background-color: white;
	width: 900px;
	padding: 0px;
	margin: 0px 0px 0px 100px;

	

}
.chapters{	
	width: 495px;
	margin: 0px;
	padding: 0px;
	float: left;
	
}
.chapters table{
	width: 100%;	
}


.chapters table tr td img{
	border: 1px solid orange;
	padding: 5px;
	float: left;
	margin: 0px;
	padding: 0px;
}
.chapters table tr td h4{
	float: left;
	margin: 0px;
	padding: 10px 0px 0px 30px;
	
	
}
.chapters table tr td button{
	float: left;
	margin: 0px;
	margin: 40px 0px 0px 0px;
	padding: 5px 50px;
	background-color: gray;
	border: 0px;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}
.chapters table tr td button:hover{
	background-color: orange;
	}

#t-row td{
	border-bottom: 1px dashed orange;
	padding: 10px;
	margin: 0px;
	

	}
.summary_container{
	margin: 0px;
	padding: 0px;
	width: 400px;
	float: right;
	border-left: 2px dashed orange;
	height: 700px;	
	
}
.summary{
	margin: 0px;
	padding: 10px;
}
.summary_image{
	padding: 275px 0px 0px 90px;
	

}
.comic_2_container{
	margin: 0px;
	padding: 0px;

}
.comic_2{
	padding: 650px 0px 10px 0px;
}
.comic_2 h3{
	padding: 50px 0px 0px 50px;
	margin: 0px;
}

.comic_2 table {
	
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
	
}
.comic_2 table tr td{
	width: 500px;
	border: 2px dashed orange;
	padding-bottom: 50px;
	
}
.comic_2 table tr td img{
	margin: 0px;
	padding: 50px 0px 0px 50px;


}
.comic_2 table tr td p{
	width: 200px;
	text-align: justify;
	float: right;
	padding: 50px 40px 0px 20px;
}

/* chapter page css*/

.chapter_nav{
	margin: 0px;
	padding: 0px;
	background-color: #333333;
	height: 50px;
}
.chapter_nav img{
	float: left;
	padding: 5px 0px 5px 10px;
	margin: 0px;
	
}
.chapter_nav h4{
	float: left;
	margin: 0px;
	padding: 15px 20px;
	color: orange;
}
#nxt_prv{
	padding: 5px 0px 0px 450px;
}
.social_media{
	padding: 0px 0px 0px 950px;
}
#chap_one{
	padding: 0px 200px;
}
.div_1{
	margin: 0px;
	padding: 0px;


}
.div_1 p{
	text-align: center;
}
#heart{
	margin: 0px 0px 10px 370px;
	padding: 5px 20px;
	background-color: gray;
	color: white;
	border: none;
	border-radius: 20px;
}
#subscribe{
	margin: 0px 10px 10px 10px;
	padding: 5px 20px;
	background-color: gray;
	color: white;
	border: none;
	border-radius: 20px;
}
#dl_chapter{
	margin: 0px 10px 10px 475px;
	padding: 5px 20px;
	background-color: gray;
	color: white;
	border: none;
	border-radius: 20px;
}
.div_2{
	width: 600px;
	padding: 10px;
	border-right: 2px dashed orange;
	position: relative;
	
	
}
.creator h4{
	padding: 0px
	margin: 0px;
}
.creator h5{
	padding: 0px
	margin: 0px;
	color: orangered;
}
.comment_section{

}
#cmnt_input{
	padding: 20px 100px;
	border-radius: 5px;
	border: none;
}
.comment_section button{
	padding: 20px;
	color: white;
	border-radius: 5px;
	background-color: gray;
	border: none;
	margin: 0px;
}

.comment_section form button:hover{
	background-color: orangered;
	}
.comment_section ul{
	border-bottom: 2px solid orange;
	}
.comment_section ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	margin: 10px 0px;
	background-color: lightgray;

}
.comment_section ul li:hover{
	background-color: orange;
	color: white;
}

.cmnt_section {
	margin: 0px;
	padding: 0px;

}
.cmnt_section p{
	border-bottom: 1px solid orange;
	text-align: justify;
	padding: 10px 0px;
}

.new_trending{	
	position: absolute;
	
	width: 350px;
	left: 650px;
	top: 15200px;

}
.new_trending_content ul li{
	list-style-type: none;
	text-decoration: none;
	color: orange;
	
}
.new_trending h4{
	background-color: gray;
	padding: 10px;
	color: orange;
}
#image_title{
	margin: 0px;
	padding: 0px;
	text-align: right;

}
#title{
	float: left;
	color: black;
	padding: 0px 100px 0px 0px ;
}
#title:hover{
	color: orange;
}
#title h3{
	font-size: 16px;
	padding: 10px 0px 10px 0px;
	margin: 0px;
	

}
